body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #391709;
}

header, footer {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    position: relative;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
    width: 300px; /* Aumente a largura do card */
    height: 400px; /* Aumente a altura do card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1;
}

.card h2, .card button {
    position: relative;
    z-index: 2;
}

.card h2 {
    margin: 0 0 20px;
}

.card button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #7f644f;
    color: white;
    cursor: pointer;
}

.card button:hover {
    background-color: #311509;
}

/* Specific backgrounds for each card */
.card:nth-child(1) {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBppNgiyE8BS3AfYnSfhrPhaYxHUHJhMEs1g&s');
}

.card:nth-child(2) {
    background-image: url('https://www.mapadaobra.com.br/wp-content/uploads/2016/06/Novo_Layout-17.jpg');
}

.card:nth-child(3) {
    background-image: url('https://impe.com.br/blog/wp-content/uploads/2023/09/unnamed.png');
}